---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../sections/Hero.astro";
import About from "../sections/About.astro";
import Staff from "../sections/Staff.astro";
import Shop from "../sections/Shop.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Bienvenidos al Antipodcast"
  description="Unete a nuestras charlas de historias mas terrorificas del mundo."
>
  <main>
    <Navbar />
    <Hero />
    <About />
    <Staff />
    <Shop />
    <Footer />
  </main>
</Layout>
