<div class="flex flex-wrap justify-center items-center gap-5 mt-20">
  <div class="w-72 h-80 bg-red-500">
    <div
      class="w-72 h-80 bg-[#03061A] hover:-translate-y-10 transition-all flex justify-center items-center"
    >
      <img src="/card-staff/user-1.png" alt="" />
    </div>
    <h3 class="font-semibold text-xl text-[#03061A]">NOMBRE DEL INTEGRANTE</h3>
    <p class="font-semibold text-base text-red-600">NOMBRE DE SU PROFESION</p>
  </div>
  <div class="w-72 h-80 bg-red-500">
    <div
      class="w-72 h-80 bg-[#03061A] hover:-translate-y-10 transition-all flex justify-center items-center"
    >
      <img src="/card-staff/user-2.png" alt="" />
    </div>
    <h3 class="font-semibold text-xl text-[#03061A]">NOMBRE DEL INTEGRANTE</h3>

    <p class="font-semibold text-base text-red-600">NOMBRE DE SU PROFESION</p>
  </div>
  <div class="w-72 h-80 bg-red-500">
    <div
      class="w-72 h-80 bg-[#03061A] hover:-translate-y-10 transition-all flex justify-center items-center"
    >
      <img src="/card-staff/user-3.png" alt="" />
    </div>
    <h3 class="font-semibold text-xl text-[#03061A]">NOMBRE DEL INTEGRANTE</h3>

    <p class="font-semibold text-base text-red-600">NOMBRE DE SU PROFESION</p>
  </div>
</div>
