<div class="flex flex-wrap gap-4 mt-8 max-w-[1050px] mx-auto">
  <div class="hover:border-red-500 hover:border-2 hover:scale-105 transition-all">
    <img src="/card-youtube/yt-1.png" alt="">
  </div>
  <div class="hover:border-red-500 hover:border-2 hover:scale-105 transition-all">
    <img src="/card-youtube/yt-2.png" alt="">
  </div>
  <div class="hover:border-red-500 hover:border-2 hover:scale-105 transition-all">
    <img src="/card-youtube/yt-3.png" alt="">
  </div>
</div>
