<div class="flex flex-wrap justify-center items-center gap-5 mt-52">
    <img src="/card-shop/1.png" alt="">
    <img src="/card-shop/2.png" alt="">
    <img src="/card-shop/3.png" alt="">
    <img src="/card-shop/4.png" alt="">
</div>