<header>
  <nav class="mt-7">
    <ol class="flex justify-center items-center gap-24 text-base font-medium">
      <a href="" class="border-r-2 pr-24 h-20 flex justify-center items-center hover:text-red-500">
        <li>INICIO</li>
      </a>
      <a href="" class="border-r-2 pr-24 h-20 flex justify-center items-center hover:text-red-500">
        <li>NOSOTROS</li>
      </a>
      <a href="" class="border-r-2 pr-24 h-20 flex justify-center items-center hover:text-red-500">
        <li>STAFF</li>
      </a>
      <a href="" class="hover:text-red-500">
        <li>TIENDA</li>
      </a>
    </ol>
  </nav>
</header>
