---
import CardYoutube from "../components/CardYoutube.astro";
---

<section class="h-screen flex flex-col justify-center items-center">
  <h2 class="uppercase text-5xl text-center max-w-[1000px] font-semibold">
    Siguenos por nuestras redes sociales oficiales
  </h2>
  <div class="flex flex-col justify-center items-center mt-12">
    <img src="/img/image-youtube.png" alt="" />
    <h3 class="uppercase text-3xl font-medium">El antipodcast</h3>
    <h3 class="uppercase text-3xl font-medium">1.02 M</h3>
  </div>
  <CardYoutube />
</section>
