<section class="h-auto flex flex-col justify-center items-center">
    <img src="/img/hero-bg.png" alt="" class="bottom-0 max-h-screen -z-[100] absolute image">
    <!-- <div class="w-full h-12 bg-[#03061A] flex justify-center items-center absolute">
        <h3 class="font-medium text-3xl">NUEVO VIDEO TODOS LOS DOMINGOS</h3>
    </div> -->
    <img src="/img/title.png" alt="" class="mt-80">
</section>
<style>
    .image{
        opacity: 50%;
    }
</style>