<section class="h-auto flex flex-col justify-center items-center">
    <img src="/img/hero-bg.png" alt="" class="bottom-0 max-h-screen -z-[100] absolute image">
   
    <img src="/img/title.png" alt="" class="mt-80">
</section>
<style>
    .image{
        opacity: 50%;
    }
</style>