<section class="h-screen flex flex-col justify-center items-center">
    <h2 class="uppercase text-5xl text-center max-w-[1000px] font-semibold">
        Visita nuestra tienda oficial de amazon
      </h2>
      <p class="uppercase">Todos los accesorios estan firmados por el equipo de antipodcast</p>
</section>