---
import CardStaff from "../components/CardStaff.astro";
---

<section class="h-screen flex flex-col justify-center items-center -mt-16">
  <h2 class="uppercase text-5xl text-center max-w-[1000px] font-semibold">
    Nuestro equipo
  </h2>
  <CardStaff />
</section>
